.title{
    display:flex;
    justify-content: space-between;
}
nav ul{
    display: inline-flex;
    gap: 10px 50px;
    padding: 10px;
}
nav li{
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
}
h3{
    text-align: center;
}
.img-size{
    width: 2px;
    height: 2px;
}
.flex-container1{
    display:flex;
    flex-direction: row;
    padding: 150px;
}
.flex-item1{
    text-align: center;
}
.flex-container2{
    display: flex;
    flex-direction: row;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    text-align: center;
}
.img-size1{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 100px;
    grid-column-gap: 100px;
    padding: 100px;
    background-color: black;
    color: white;
}
